@import url("https://fonts.googleapis.com/css?family=Varela Round");
/* for styling */
/* Puts image next to heading */
*{
    font-family: Varela Round;
}
header,
nav {
    display: flex;
    /* justify content  */
    justify-content: space-evenly;
    width: auto;
    position: sticky;
    top: 0px;
}

nav {
    list-style-type: none;
    transition: 3s;
}

a {
    background: linear-gradient(#e66465, #9198e5);
    text-decoration: none;
    color: aliceblue;
    height: 30px;
    width: 250px;
    text-align: center;
    padding-top: 10px;

}

a:hover {
    color: black;
    background: aliceblue;

}

header img {
    width: 80px;
    animation: rotation 20s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}